<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Manage Products</h1>
    <%= link_to 'New Product', new_admin_product_path, class: 'btn btn-success' %>
    <table class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.price %>$</td>
            <td>
              <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-primary' %>
              <%= link_to 'Delete', '#', class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @products %>
  </div>
</div>
