<div class="container product-form">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@product, multipart: true) do |f| %>
        <div class="field">
          <%= f.label :name, class: 'control-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :description, class: 'control-label' %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="field form-group">
          <%= f.label :price, class: 'control-label' %>
          <div class="input-group">
            <%= f.number_field :price, min: 1, step: 'any', class: 'form-control' %>
            <span class="input-group-addon">$</span>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :image, class: 'control-label' %>
          <%= f.file_field :image %>
        </div>
        <div class="actions form-group">
          <%= f.submit 'Add product' %>
        </div>
    <% end %>
  </div>
</div>
