<div class="media review">
  <div class="media-left">
    <!-- TODO: link to users show page (add users show page first lol) -->
    <%= link_to '#' do %>
      <%= image_tag review.user.avatar.url(:thumb), class: "media-object", size: "50x50" %>
    <% end %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= review.user.name %></h4>
    <p><%= review.comment %></p>
  </div>
  <div class="media-right">
    <%= select_tag :review, options_for_select(1..5, review.rating), class: 'review-rate' %>
    <% if review.user.eql?(current_user) %>
      <div class="review-actions">
        <%= link_to review_path(review), method: :delete, class: 'btn btn-xs btn-warning pull-right', data: {'toggle': 'tooltip', 'placement': 'right', 'confirm': 'Are you sure?'}, title: 'Delete review' do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
        <!-- Trigger the modal with a button -->
        <%= link_to '#', class: 'btn btn-xs btn-info pull-right', data: {'toggle': 'modal', 'target': "#modal-#{review.id}", 'placement': 'right'}, title: 'Edit review' do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="modal-<%=review.id%>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Review</h4>
      </div> -->
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <%= form_for review, method: :put  do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.select :rating, 1..5, {}, class: 'modal-review-rating' %>
          </div>

          <div class="form-group">
            <%= f.submit 'Edit Review', class: 'form-control btn btn-info' %>
          </div>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
