<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ToDo</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to 'Home', root_path %></li>
      <% if !user_signed_in? %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Register', new_user_registration_path %></li>
      <% else %>
          <li><%= link_to 'Products', products_path %> </li>
          <li><%= link_to 'My Account', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %></li>
      <% end %>
    </ul>
  </div>
</nav>
