<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag("shield.png", height: '40', style: 'margin-top: -10px;') %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <%= form_tag('/search', method: 'GET', class: 'navbar-form navbar-left') do %>
        <div class="input-group">
          <%= text_field_tag :query, '', class: 'form-control', id: 'search', placeholder: 'Search' %>
          <div class="hide">
            <% @categories.each do |category| %>
              <div class="checkbox">
                <label><%= check_box_tag "categories[#{category.name}]", category.id.to_s, false, id: "checkbox-#{category.id}-form" %>Option</label>
              </div>
            <% end %>
          </div>
          <div class="input-group-btn">
            <%= button_tag type: 'submit', class: 'btn btn-default' do %>
              <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <button class="btn btn-default navbar-btn" data-toggle="popover" data-placement="bottom" data-container="body" data-html="true">
        Categories <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li>
            <%= link_to new_user_session_path do %>
              Sign In <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              Register <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <!-- Trigger the modal with a button -->
            <%= link_to '#', data: {'toggle': 'modal', 'target': "#modal-ticket", 'placement': 'right'}, title: 'Submit ticket' do %>
              Support <i class="fa fa-question fa-lg" aria-hidden="true"></i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to products_path do %>
              Home <i class="fa fa-home fa-lg" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to cart_path do %>
              Cart <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
              <span class="label label-pill label-info"><%= current_user.cart_items.count %></span>
            <% end %>
          </li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
              <%= current_user.name %> <i class="fa fa-user fa-lg" aria-hidden="true"></i>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to profile_path do %>
                  Profile <i class="fa fa-address-card-o pull-right" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  Account <i class="fa fa-cogs pull-right" aria-hidden="true"></i>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <!-- Trigger the modal with a button -->
            <%= link_to '#', data: {'toggle': 'modal', 'target': "#modal-ticket", 'placement': 'right'}, title: 'Submit ticket' do %>
              Support <i class="fa fa-question fa-lg" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: 'DELETE' do %>
              Sign out <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<%= render '/modals/ticket' %>
<%= render '/categories/filters_popover', categories: @categories %>
