<%# frozen_string_literal: true %>
<!DOCTYPE html>
<html>
  <head>
    <title>RailsShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/nav' unless @disable_header %>

  <body class="content">
    <% if flash.any? %>
      <%= render 'layouts/alerts' %>
    <% end %>

    <%= yield %>
  </body>
</html>
